---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{%- assign sorted_talks = site.talks | sort: "date" | reverse -%}

<p style="font-weight: bold; font-size: 24px;">
  Talks
</p>

<ul>
  {% for talk in sorted_talks %}
    {% if talk.type == "Talk" %}
      <li>
        {{ talk.date | date: "%B %Y" }},
        {% if talk.permalink %}
          <strong><a href="{{ talk.url | relative_url }}">{{ talk.title }}</a></strong>,
        {% else %}
          <strong>{{ talk.title }}</strong>,
        {% endif %}
        {{ talk.venue }}, {{ talk.location }}
      </li>
    {% endif %}
  {% endfor %}
</ul>




<p style="font-weight: bold; font-size: 24px;">
  Conference presentations
</p>

<ul>
  {% for talk in sorted_talks %}
    {% if talk.type == "Conference presentation" %}
      <li>
        {{ talk.date | date: "%B %Y" }}
        {% if talk.permalink %}
          <strong><a href="{{ talk.url | relative_url }}">{{ talk.title }}</a></strong>,
        {% else %}
          <strong>{{ talk.title }}</strong>,
        {% endif %}
        {{ talk.venue }}, {{ talk.location }}
      </li>
    {% endif %}
  {% endfor %}
</ul>